.modalWindow {
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
    position: fixed;
    font-family: arial;
    font-size:1em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
.modalHeader h2 { color: #189CDA; border-bottom: 2px groove #efefef; }
.modalWindow:target {
    opacity:1;
    pointer-events: auto;
}
.modalWindow > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}
.modalWindow .modalHeader { padding: 5px 20px 0px 20px; }
.modalWindow .modalContent { padding: 0px 20px 5px 20px; }
.modalWindow .modalFooter { padding: 8px 20px 8px 20px; }
.modalFooter {
    background: #F1F1F1;
    border-top: 1px solid #999;
    -moz-box-shadow: inset 0px 13px 12px -14px #888;
    -webkit-box-shadow: inset 0px 13px 12px -14px #888;
    box-shadow: inset 0px 13px 12px -14px #888;
}
.modalFooter p {
    color:#D4482D;
    text-align:right;
    margin:0;
    padding: 5px;
}
.ok, .close, .cancel {
    color: #606061;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 10px;
}
.ok, .cancel {
    width:80px;
    float:right;
    margin-left:20px;
}
.ok:hover { background: #189CDA; }
.clear { float:none; clear: both; }

.box{
    border: solid 1px #AAAAAA;
    border-radius: 5px;
    padding: 5px;
}

.betModalContainer{
    display: flex;
    justify-content: space-between;
}

.betModalLeft, .betModalRight {
    width: calc(50% - 5px);
    min-height: 80px;
    padding: 15px;
    margin-bottom: 15px;
}

.betModalBet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.betModalBet input{
    max-width:60px;
    height: 20px;
}

.betModalRight .betModalSubmit{
    background: #333;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-weight: bold;
    padding: 0 10px;
    width: 130px;
    cursor: pointer;
}

.betModalRight, .betModalRight > div{
    display: flex;
    justify-content: space-between;
}

.betModalRight{
    flex-direction: column;
    align-items: center;
}

.betModalRight > div{
    width: 100%;
}

.betModalQuotation, .betModalBetOn{
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
}

@media screen and (max-width: 500px){
    .betModalContainer{
        flex-direction: column;
        align-items: center;
    }

    .modalWindow > div {
        width: 100%;
    }

    .betModalLeft, .betModalRight {
        width: calc(100% - 10px);
        margin-right: 5px;
        margin-left: 5px;
    }
}
